/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$polar_night_medium};
  --global-text-color-light: #{$polar_night_very_dark};
  --global-theme-color: #{$polar_night_dark};
  --global-hover-color: #{$polar_night_very_dark};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #828282;
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$dark_background};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$light_grey};
  --global-text-color-light: #{$light_grey};
  --global-theme-color: #{$dark_grey};
  --global-hover-color: #{$dark_grey};
  --global-footer-bg-color: #{$polar_night_dark};
  --global-footer-text-color: #{$dark_grey};
  --global-footer-link-color: #{$dark_grey};
  --global-distill-app-color: #{$dark_grey};
  --global-divider-color: #828282;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
